.row{
    margin-top: 40px;
    height: 500px;
    width: 900px;
    margin-left: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius:50px ;
    
}
.row1{
background-image:url('assets/img2.jpg') ; 
background-size: cover;
   border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

}
.row2{
    background-color: rgb(252, 252, 252);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

}
form{
    width: 300px;
    margin-left: 50px;
    margin-top: 80px;
    
}
form input{
    border-radius: 50px;
}
form h5{
    text-align: center;
    color: rgb(83, 83, 121);
    font-weight: 700;
    margin-bottom: 60px;
}