<!-- navbar -->

<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">VACLAB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>



      </ul>

    </div>
    <button type="button" routerLink="/login" class="btn btn-primary">Login</button>

  </div>
</nav>




<div class="back">
  <div class="content">
    <h1>Protect Your Body and Family With Vaccine</h1>
    <p>Fight this pendamic and get normal life again by getting a vaccine that suits your body's condition.</p>
    <button type="button" routerLink="/login" class="btn btn-primary">Get Vaccinated</button>
  </div>
</div>


<div class="container">
  <div class="row section">
    <h3>Get Vaccinated in 3 Easy Steps</h3>
  </div>
  <div class="row cards">
    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">
        <img src="assets/one.svg" class="card-img-top" alt="..." width="200" height="300">
        <div class="card-body">
          <p class="card-text">Book an appointement on CO-WIN or walk into any vaccination center.</p>
        </div>
        <div class="card-body" style="background-color:rgb(152, 219, 240) ;font-weight: 600;">
          <p class="card-text">How to Book your appointemt on CO-WIN?</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">
        <img src="assets/two.svg" class="card-img-top" alt="..." width="200" height="300">
        <div class="card-body">
          <p class="card-text">Get your vaccination safely at the time of your appointment.</p>
        </div>
        <div class="card-body" style="background-color:rgb(152, 219, 240) ;font-weight: 600;">
          <p class="card-text">Dos And Dont's for getting Vaccinated?</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">
        <img src="assets/three.svg" class="card-img-top" alt="..." width="200" height="300">
        <div class="card-body">
          <p class="card-text">Download your Vaccination certificate from CO-WIN </p>
        </div>
        <div class="card-body" style="background-color:rgb(152, 219, 240) ;font-weight: 600;">
          <p class="card-text">Download your vaccine certificate and wait for Dose2.</p>
        </div>
      </div>
    </div>
  </div>
</div>
